:root {
  /*de esta forma ,podemos declarar variables en css*/
  --background-llamada-mobile: #00161c;
  --background-blanco: #ffffff;
  --background-azul-claro: #dfe3f5;
  --background-ceniza-claro: #f7f4f4;
  --background-ceniza-medio: #d9d9d9;

  --border-cabecera-mobile: #103d4a;

  --boton-rojo: #b72e2e;

  --fuente-ceniza-claro: #666666;
  --fuente-ceniza-oscuro: #4f4c4c;

  --planes-card-start: #035a76;
  --planes-card-ultra: #690f8e;
  --planes-card-mega: #b00024;

  --fuente-enlace: #0006ff;

  --background-footer: #333333;
  --montserrat: "Montserrat", sans-seriaf; /*tipo de letra*/
  --open-sans: "Open Sans", sans-serif; /*tipo de letra*/
}

body {
  font-family: var(--open-sans);
}
.container {
  padding-right: 6%;
  padding-left: 6%;
}

.boton {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: 1px solid var(--boton-rojo); /*con la palabra var llamamos a nuestra variable que tiene el color*/
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
}
